@using System.Web.Optimization
<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="@ViewBag.Language"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="@ViewBag.Language"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="@ViewBag.Language"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="@ViewBag.Language">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="@ViewBag.Keywords">
    @Styles.Render("~/bundles/reset")
    @Styles.Render("~/bundles/stylesheet")

    <script type="text/javascript"> var switchTo5x = true; </script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript"> stLight.options({ publisher: "218ee5c9-213b-4cad-8b28-cb2404c1df47", doNotHash: true, doNotCopy: false, hashAddressBar: true }); </script>
</head>
@RenderBody()
</html>